*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
# *.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

selfmod.egg-info
selfmod.egg-info/*
selfmod/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs

# Artifacts of testing
selfmod/tests/tmp/*

## Pytorch tmp savings
*-ubyte

# ## Don't save equinox models
# *.eqx

## Bvidia reports
*.nsys-rep
*.sqlite

## Ignore the example tmp
examples/tmp/

## Cprofile
examples/runs/cprofile/*

piedpiper.egg-info/*

## Ingnore all folders named "tmp", recursively
**/tmp/
venv/*


examples/voxceleb/data/*
!examples/voxceleb/data/README.md
!examples/voxceleb/data/list_eval_partition.txt

examples/voxceleb/tmp/*
examples/voxceleb/runs/*

examples/celeba/data/*
!examples/celeba/tmp/list_eval_partition.txt

examples/celeba/tmp/*
examples/celeba/runs/*
examples/celeba/runs/241022-193555-Good/checkpoints/*
!examples/celeba/runs/241022-193555-Good/
!examples/celeba/runs/241026-135512-Overfitted/
!examples/celeba/runs/241027-203511-DecentButSlow/
!examples/celeba/runs/241101-013653-6Hours/
!examples/celeba/runs/241101-192006-10+Hours/


!examples/voxceleb/runs/241103-011757-LongWithNegLoss/
!examples/voxceleb/runs/241112-182608-BestTransposed/

examples/earth/data/*
!examples/earth/data/README.md
!examples/earth/data/list_eval_partition.txt

examples/earth/tmp/*
examples/earth/runs/*
